* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Glasses {
  background: url(../public/glassesImage/background.jpg) no-repeat;
  background-size: cover;
  height: 150vh;
}
#Glasses img {
  max-width: 100%;
}
.item_change img {
  opacity: 1.1;
  object-fit: scale-down;
  object-position: bottom;
  height: 100px;
  margin-top: 150px;
  margin-left: -75px;
}
.item_glasses {
  max-width: 100%;
  width: 1500px;
  height: 100px;
}
#detail {
  margin-top: 250px;
  color: blue;
  text-align: center;
  background-color: yellow;
}
